/* GLOBAL */
:root {
    --orange-color: #FF7500;
    --dark-color: #252420;
    --white-color: #FFFFFF;
}

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto" "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}

/* HEADER CONTENT */
.header {
    padding-top: 21px;
    padding-bottom: 16px;
    border-top: 5px solid var(--orange-color);
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    display: block;
    margin-right: auto;
}
.header__menu-toggler{
    display: none;
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    background-color: transparent;
}
.header__actions{
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 32px;
}

.header__list-item{
    margin-right: 32px;
}
.header__list-item:last-child{
    margin-right: 0;
}

.header__nav-link {
    font-weight: 500;
    font-size: 13px;
    color: #000;
}

.button-link {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
    background-color: var(--orange-color);
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: opacity 0.4s ease;
}

/* About section */
.about {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--dark-color);
    color: var(--white-color);
}

.about__container {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about__info-wrapper {
    width: 390px;
}

.about__info-roll {
    width: 80px;
    height: 3px;
    margin: 0;
    margin-bottom: 80px;
    background-color: var(--orange-color);
    border: none;
}

.about__info-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
}

.about__info-paragraph {
    margin-top: 0;
    margin-bottom: 32px;
}

.about__img {
    width: 510px;
    height: 510px;
    position: absolute;
    top: -20px;
    right: 20px;
    border-radius: 8px;
    box-shadow: 24px 24px 0px 0px #FF750099;
}

/* Features section */
.features {
    padding-top: 210px;
    padding-bottom: 210px;
}

.features__title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 72px;
}

.features__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.feature__list-item {
    border: 0;
    width: 340px;
}

.feature__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
    border-radius: 50%;
    background-color: rgba(255, 117, 0, 0.2);
}

.feature__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 1.2;
    font-family: var(--heading-font);
}

.feature__info {
    margin: 0;
}

/* Promo section */
.promo {
    padding-top: 120px;
    padding-bottom: 160px;
    color: var(--white-color);
}

.promo__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    border-radius: 12px;
    background-color: #252420;
    color: #fff;
}

.promo__info-wrapper {
    width: 440px;
}

.promo__title {
    margin-top: 0;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    padding: 0;
}
.promo__paragraph-wrapper{
    margin-bottom: 24px;
}
.promo__paragraph {
    padding: 0;
    margin-bottom: 12px;
}
.promo__paragraph:last-child{
    margin-bottom: 0;
}

.promo__link {
    display: block;
    width: 172px;
    margin-top: 24px;
    padding: 12px 24px;
    color: #fff;
    background-color: var(--orange-color);
    border-radius: 4px;
    font-weight: 700;
}

.promo__img {
    position: absolute;
    right: 64px;
    bottom: 64px;
    width: 440px;
    height: 440px;
    border-radius: 12px;
    object-fit: cover;
}

/* SITE-FOOTER */
.site-footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #f8f8f8;
}

.site-footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-footer__logo-link {
    margin-right: 36px;
}

.site-footer__list {
    padding: 0;
    list-style: none;
}

.socials {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* Img block */
.socials__item {
    margin-right: 16px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    color: #252420;
}
.socials__icon {
    display: block;
}

.site-footer__divider {
    height: 2px;
    border: 0;
    margin-top: 40px;
    margin-bottom: 64px;
    background-color: rgba(37, 36, 32, 0.5);
}

.site-footer__bottom {
    display: flex;
}

.site-footer__links {
    width: 224px;
    padding: 0;
    margin: 0;
    margin-right: 68px;
    list-style: none;
    line-height: 19px;
}

.site-footer__links:last-child {
    margin-right: 0;
}

.site-footer__links li {
    margin-bottom: 16px;
}

.site-footer__links li:last-child {
    margin-bottom: 0;
}

.site-footer__links a {
    text-decoration: none;
    color: #252420;
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px){
    .about__img{
        position: static;
        margin-right: 30px;
    }
}
@media only screen and (max-width: 1140px){
    .feature__list-item {
        width: 30%;
        margin-right: 5%;
    }
    .feature__list-item:last-child{
        margin-right: 0;
    }
    .promo__img{
        width: 380px;
        height: 380px;
    }
    .site-footer__links{
        width: 20.36%;
        margin-right: 6.18%;
    }
}

@media only screen and (max-width: 1000px){
    .header__container{
        justify-content: space-between;
    }
    .header__menu-toggler{
        display: block;
    }
    .header__actions{
        display: none;
        background-color: #333;
        position: absolute;
        top: 110px;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        flex-direction: column;
        align-items: start;
        z-index: 2;
    }
    .header__menu-opener{
        display: flex;
        color: var(--white-color);
    }
    .header__logo{
        margin-right: 0;
    }
    .header__navigator{
        margin-top: 12px;
    }
    .header__list{
        flex-direction: column;
    }
    .header__list-item{
        margin-bottom: 36px;
    }
    .header__nav-link{
        font-size: 36px;
        color: var(--white-color);
    }
    .button-link{
        font-size: 16px;
    }
    .about__info-wrapper{
        flex-grow: 1;
        margin-right: 60px;
    }
    .about__info-title{
        font-size: 36px;
    }
    .about__img{
        width: 350px;
        height: 350px;
    }
    .features {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .promo__img{
        position: static;
    }
    .promo__info-wrapper{
        margin-right: 36px;
    }
}

@media only screen and (max-width: 900px){
    .promo__inner{
        align-items: flex-start;
    }
    .promo__img{
        width: 320px;
        height: 320px;
    }
}

@media only screen and (max-width: 840px){
    .promo__inner{
        flex-direction: column;
    }
    .promo__info-wrapper{
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }
    .promo__img{
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

@media only screen and (max-width: 800px){
    .about__img{
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 760px){
    .header__actions{
        flex-direction: column;
    }
    .header__navigator{
        width: 100%;
        margin-bottom: 12px;
    }
    .header__list{
        margin-right: 0;
        justify-content: center;
    }
    .about__container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .about__info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    .about__img{
        margin-right: 0;
        margin-bottom: 54px;
    }
    .features {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .promo{
        padding-bottom: 0;
    }
    .promo__inner{
        margin-right: -50px;
        margin-left: -50px;
        border-radius: 0;
    }
    .features__title{
        margin-bottom: 54px;
        font-size: 54px;
    }
    .site-footer__bottom{
        flex-wrap: wrap;
    }
    .site-footer__links{
        width: 30%;
        margin-right: 5%;
        margin-bottom: 36px;
    }
    .site-footer__links:last-child(){
        margin-right: 5%;
    }
    .site-footer__links:nth-child(){
        margin-right: 0;
    }
}

@media only screen and (max-width: 700px){
    .features__list{
        flex-wrap: wrap;
    }
    .feature__list-item{
        width: 44%;
        margin-right: 6%;
        margin-bottom: 36px;
    }
    .features__list-item:nth-child(3n){
        margin-right: 0;
    }
}

@media only screen and (max-width: 600px){
    .site-footer__links {
        width: 46%;
        margin-right: 8%;
    }
    
    .site-footer__links:nth-child(3n) {
        margin-right: 8%;
    }
    
    .site-footer__links:nth-child(even) {
        margin-right: 0;
    }
}
@media only screen and (max-width: 530px){
    .header__list{
        flex-wrap: wrap;
    }
    .header__list-item{
        width: 50%;
        margin-right: 0;
        text-align: center;
    }
    .features__title{
        text-align: center;
        margin-bottom: 36px;
        font-size: 44px;
    }
    .feature__list-item{
        width: 100%;
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .site-footer {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    
    .site-footer__top {
        flex-direction: column;
    }
    
    .site-footer__logo-link {
        margin-right: 0;
        margin-bottom: 24px;
    }
}
@media only screen and (max-width: 400px){
    .header__logo{
        margin-right: 20px;
    }
    .header__actions{
        align-items: center;
    }
    .header__list{
        align-items: center;
    }
    .about__img {
        max-width: 100%;
        height: auto;
        box-shadow: none;
    }
    .promo__img{
        width: 100%;
        height: 300px;
    }
    .site-footer{
        text-align: center;
    }
    .site-footer__links {
        width: 100%;
        margin-right: 0;
    }
    
    .site-footer__links:nth-child(3n) {
        margin-right: 0;
    }
    
    .site-footer__links:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 350px){
    .header__logo img {
        max-width: 100%;
        height: auto;
    }
    .header__list-item{
        width: 100%;
        margin-bottom: 12px;
    }
    .header__list-item:last-child{
        margin-bottom: 0;
    }
}